<h2>Registration Form</h2>

<form #regForm="ngForm" (ngSubmit)="onSubmit()">

  <input type="text" name="firstName" [(ngModel)]="formData.firstName" placeholder="First Name" required>
  <input type="text" name="lastName" [(ngModel)]="formData.lastName" placeholder="Last Name" required>
  <input type="text" name="username" [(ngModel)]="formData.username" placeholder="Username" required>

  <input type="email" name="email" [(ngModel)]="formData.email" placeholder="Email" required>

  <input type="password" name="password" [(ngModel)]="formData.password" placeholder="Password" required>

  <input type="number" name="age" [(ngModel)]="formData.age" placeholder="Age">

  <input type="date" name="birthDate" [(ngModel)]="formData.birthDate">

  <select name="country" [(ngModel)]="formData.country">
    <option value="">Select Country</option>
    <option value="Philippines">Philippines</option>
    <option value="USA">USA</option>
    <option value="Japan">Japan</option>
  </select>

  <p>Account Type:</p>
  <label>
    <input type="radio" name="account" value="Student" [(ngModel)]="formData.accountType">
    Student
  </label>
  <label>
    <input type="radio" name="account" value="Admin" [(ngModel)]="formData.accountType">
    Admin
  </label>

  <label>
    <input type="checkbox" name="agree" [(ngModel)]="formData.agree">
    I agree to the terms and conditions
  </label>

  <br><br>
  <button type="submit">Register</button>

</form>
